.container {
    position: relative;
    top: -100px;
    left: 10%;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}