.container {
    display: flex;
    width: 100%;
    position: relative;
    top: -200px;
    z-index: -1;
}

.image {
    width: 100%;
    height: auto;
    clip-path: polygon(0 25%, 100% 25%, 100% 77%, 78% 83%, 0 100%);
}